body {
    background-color: #ffcccb;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  input {
    width: 250px;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid hwb(0 80% 20%);
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: #333333;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .product-card {
    width: 220px; 
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-image {
    width: 180px;
    height: 180px; 
    object-fit: cover;
    border-radius: 8px;
  }
  